
@{
    ViewData["Title"] = "Asientos";
}

<div class="container mt-3">
<p class="bg-colorPagina rounded pt-1 pb-1 text-center font-weight-bold text-white">Seleccione los acientos</p>
    <div class="row mb-2">
        <div class="col-1">

        </div>
        <div class="col-4 text-center font-weight-bold h4">
            <img src="~/images/ordenador.png" width="60px" class="mt-1" />
        </div>
        <div class="col-7">

        </div>
    </div>
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-1 text-right">
            <button type="button" class="btn btn-secondary btn-lg mb-2">
                01
            </button>
            <button type="button" class="btn btn-secondary btn-lg mb-2">
                05
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg">
                09
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg">
                13
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg">
                17
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg">
                21
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg">
                25
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg">
                29
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg">
                33
            </button>
            <button type="button" class="btn btn-secondary btn-lg">
                37
            </button>
        </div>
        <div class="col-1 text-left">
            <button type="button" class="btn btn-secondary btn-lg mb-2" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                02
            </button>
            <button type="button" class="btn btn-secondary btn-lg mb-2" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                06
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                10
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                14
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                18
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                22
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                26
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                30
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                34
            </button>
            <button type="button" class="btn btn-secondary btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                38
            </button>
        </div>
        <div class="col-1 text-right">
            <button type="button" class="btn btn-secondary btn-lg mb-2" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                03
            </button>
            <button type="button" class="btn btn-secondary btn-lg mb-2" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                07
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                11
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                15
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                19
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                23
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                27
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                31
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                35
            </button>
            <button type="button" class="btn btn-secondary btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                39
            </button>
        </div>
        <div class="col-1 text-left">
            <button type="button" class="btn btn-secondary mb-2 btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                04
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                08
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                12
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                16
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                20
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                24
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                28
            </button>
            <button type="button" class="btn btn-secondary btn-lg mb-2" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                32
            </button>
            <button type="button" class="btn btn-secondary btn-lg mb-2" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                36
            </button>
            <button type="button" class="btn btn-secondary btn-lg" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                40
            </button>
        </div>
        <div class="col-7">

        </div>
    </div>
</div>