@model Buses.Entities.ItinerarioViaje
@{
    ViewData["Title"] = "Asientos";
}

<div class="container mt-3">
    <p class="bg-colorPagina rounded pt-1 pb-1 text-center font-weight-bold text-white">Seleccione los acientos</p>
    <div class="row mb-2">
        <div class="col-1">

        </div>
        <div class="col-4 text-center font-weight-bold h4">
            <img src="~/images/ordenador.png" width="60px" class="mt-1" />
        </div>
        <div class="col-7">

        </div>
    </div>
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-1 text-right">
            <button type="button" id="asiento01" class="btn btn-secondary btn-lg mb-2">
                01
            </button>
            <button type="button" id="asiento05" class="btn btn-secondary btn-lg mb-2">
                05
            </button>
            <button type="button" id="asiento09" class="btn btn-secondary mb-2 btn-lg">
                09
            </button>
            <button type="button" id="asiento13" class="btn btn-secondary mb-2 btn-lg">
                13
            </button>
            <button type="button" id="asiento17" class="btn btn-secondary mb-2 btn-lg">
                17
            </button>
            <button type="button" id="asiento21" class="btn btn-secondary mb-2 btn-lg">
                21
            </button>
            <button type="button" id="asiento25" class="btn btn-secondary mb-2 btn-lg">
                25
            </button>
            <button type="button" id="asiento29" class="btn btn-secondary mb-2 btn-lg">
                29
            </button>
            <button type="button" id="asiento33" class="btn btn-secondary mb-2 btn-lg">
                33
            </button>
            <button type="button" id="asiento37" class="btn btn-secondary btn-lg">
                37
            </button>
        </div>
        <div class="col-1 text-left">
            <button type="button" class="btn btn-secondary btn-lg mb-2" id="asiento02">
                02
            </button>
            <button type="button" class="btn btn-secondary btn-lg mb-2" id="asiento06">
                06
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento10">
                10
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento14">
                14
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento18">
                18
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento22">
                22
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento26">
                26
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento30">
                30
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento34">
                34
            </button>
            <button type="button" class="btn btn-secondary btn-lg" id="asiento38">
                38
            </button>
        </div>
        <div class="col-1 text-right">
            <button type="button" class="btn btn-secondary btn-lg mb-2" id="asiento03">
                03
            </button>
            <button type="button" class="btn btn-secondary btn-lg mb-2" id="asiento07">
                07
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento11">
                11
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento15">
                15
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento19">
                19
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento23">
                23
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento27">
                27
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento31">
                31
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento35">
                35
            </button>
            <button type="button" class="btn btn-secondary btn-lg" id="asiento39">
                39
            </button>
        </div>
        <div class="col-1 text-left">
            <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento04">
                04
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento08">
                08
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento12">
                12
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento16">
                16
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento20">
                20
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento24">
                24
            </button>
            <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento28">
                28
            </button>
            <button type="button" class="btn btn-secondary btn-lg mb-2" id="asiento32">
                32
            </button>
            <button type="button" class="btn btn-secondary btn-lg mb-2" id="asiento36">
                36
            </button>
            <button type="button" class="btn btn-secondary btn-lg" id="asiento40">
                40
            </button>
        </div>
        <div class="col-3">

        </div>
        <div class="col-4">
            <br /><br />
            <div class="card border-danger text-center">
                <div class="card-body">
                    <p class="h5 text-danger">Resumen de Compra</p>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10 bg-colorPagina text-left rounded text-white">
                            <p class="mt-2"><strong>@Model.AgenciaOrigen</strong> a <strong>@Model.AgenciaDestino</strong></p>
                            <img src="~/images/icon.png" class="mr-2" />
                            <strong>
                                @if (Model.PrecioViaje <= 20)
                                {
                                    <a id="tipoServicio">Oferta</a>
                                }
                                else
                                {
                                    <a id="tipoServicio">Servicio Normal</a>

                                }
                            </strong><br />
                            <img src="~/images/calendario.png" class="mr-2" />@String.Format("{0:dd/mm/yyyy}", Model.HoraViaje) &nbsp;<img src="~/images/reloj.png" class="mr-1" />@String.Format("{0:HH:mm tt}", Model.HoraViaje)<br />
                            <img src="~/images/sillon.png" class="mr-2" />Asiento<strong id="asientosSeleccionados">:</strong><br />
                            <p><img src="~/images/simbolo-del-dolar.png" class="mr-2" />Sub Total:<strong id="precio">0</strong></p>
                            <div class="text-center">
                                <a class="btn btn-dark font-weight-bold mb-4 btn-sm" style="width:190px">Total:</a>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/Pasaje/Pasaje.js"></script>
}