@{
    ViewData["Title"] = "Pagina Principal";
}
<br /><br />
<div class="container">
    <div class="row mt-2 mb-2">
        <div class="col-12 text-center colorPagina redondeadonorelieve">
            <h4 class="">1.- Seleccion Su Hora</h4>
        </div>
    </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />