<nav class="navbar navbar-expand-lg navbar-light fondoNavbar">
    <div class="container">
        <a class="navbar-brand text-white font-weight-bold" href="#">Red Bus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link text-white font-weight-bold" href="#">Destinos<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white font-weight-bold" href="#">Corporativo</a>
                </li>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0 float-right">
            <img src="~/images/linkedin (1).png" width="30" class="mr-4" id="linkedin" />
            <img src="~/images/youtube (1).png" width="30" class="mr-4" id="youtube" />
            <img src="~/images/variante-del-logo-de-whatsapp.png" width="30" class="mr-4" id="whatsapp" />
            <img src="~/images/instagram (1).png" width="30" class="mr-4" id="instagram" />
            <button type="button" class="btn btn-outline-light my-2 my-sm-0 font-weight-bold" data-toggle="modal" data-target="#ModalIniciarSesion">
                Iniciar Secion
            </button>
        </form>
    </div>
</nav>