<div class="col-4">
    <br /><br />
    <div class="card border-danger text-center">
        <div class="card-body">
            <p class="h5 text-danger">Resumen de Compra</p>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 bg-colorPagina text-left rounded text-white">
                    <p class="mt-2"><strong>@ViewBag.Origen</strong> a <strong>@ViewBag.Destino</strong></p>
                    <img src="~/images/sillon.png" class="mr-2" />O Asientos<br />
                    <p><img src="~/images/simbolo-del-dolar.png" class="mr-2"/>Sub Total:</p>
                    <div class="text-center">
                        <a class="btn btn-dark font-weight-bold mb-4 btn-sm" style="width:190px">Total:</a>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</div>
