@model IEnumerable<ServiceBus.Bus>

@{
    ViewData["Title"] = "Listado Bus";
}
<div class="container mt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <label>Codigo</label>
                </th>
                <th>
                    <label>Placa</label>
                </th>
                <th>
                    <label>Nro Asiento</label>
                </th>
                <th>
                    <label>Estado</label>
                </th>
                <th>
                    <label>Acción</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bus in Model)
            {
                <tr>
                    <td>
                        @bus.IdBus
                    </td>
                    <td>
                        @bus.NroPlaca
                    </td>
                    <td>
                        @bus.NumeroAsiento
                    </td>
                    <td>
                        @bus.EstadoBus
                    </td>
                    <td>
                        <a class="btn btn-outline-danger btn-sm" asp-action="Index" asp-controller="PaginaPrincipal">Actualizar</a>
                        <a class="btn btn-danger btn-sm" asp-action="Index" asp-controller="PaginaPrincipal">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="float-right mt-5">
        <a class="btn btn-success" asp-action="" asp-controller=""><img src="~/images/sobresalir.png" class="w-15 mr-1" />Exportar a excel</a> |
        <a class="btn btn-danger" asp-action="Index" asp-controller="PaginaPrincipal">Ir al Menu Principal</a>
    </div>
</div>