@model Buses.Models.BusViewModel
@{
    ViewData["Title"] = "Registrar Bus";
}

<div class="container mt-5">
    <form asp-action="Registrar" asp-controller="BUs">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="IdBus"></label>
                    <input asp-for="IdBus" id="IdBus" class="form-control border-dark" value="@ViewBag.codigoBus" readonly />
                    <span asp-validation-for="IdBus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumeroAsiento" class="mt-2"></label>
                    <input asp-for="NumeroAsiento" id="NumeroAsiento" class="form-control border-dark" />
                    <span asp-validation-for="NumeroAsiento" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="NroPlaca"></label>
                    <input asp-for="NroPlaca" id="NroPlaca" class="form-control border-dark" />
                    <span asp-validation-for="NroPlaca" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EstadoBus" class="mt-2"></label>
                    <input asp-for="EstadoBus" id="EstadoBus" class="form-control border-dark" />
                    <span asp-validation-for="EstadoBus" class="text-danger"></span>
                </div>
                @if (ViewBag.mensaje == "OK")
                {
                    <div class="alert alert-success" role="alert">
                        El bus se registro correctamente
                    </div>
                }
                else if (ViewBag.mensaje == "Error")
                {
                    <div class="alert alert-danger" role="alert">
                        El bus no fue registrado
                    </div>
                }
                else
                {

                }
                <div class="form-group mt-3 float-right">
                    <a asp-action="Index" asp-controller="PaginaPrincipal" class="btn btn-outline-danger">Salir</a>
                    <a asp-action="Registrar" asp-controller="Bus" class="btn btn-danger">Nuevo</a>
                    <input type="submit" class="btn btn-danger" id="RegistrarBus" value="Registrar" />
                </div>
            </div>
            <div class="col-2">
            </div>
            <div class="col-2"></div>
        </div>
    </form>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#NumeroAsiento").val("");
            $("#NroPlaca").val("");
            $("#EstadoBus").val("");
        });
    </script>
}