<div class="container">
    <h1 class="text-center">Nuerstra Promesa</h1>
    <br />
    <div class="row">
        <div class="col-3 text-center">
            <img src="~/images/imagen1.png" id="imagen1" />
            <h6 class="mt-2 pb-2">ELIGE TU MEDIO DE PAGO</h6>
            <p>Paga con tarjeta de débito, crédito o Paypal. También paga sin tarjetas, usando el depósito en efectivo de PagoEfectivo.</p>
        </div>
        <div class="col-3 text-center">
            <img src="~/images/imagen2.png" id="imagen2" />
            <h6 class="mt-2 pb-2">ENCUENTRA OFERTAS INCREÍBLES</h6>
            <p>Compra pasajes al mejor precio con nuestras promociones.</p>
        </div>
        <div class="col-3 text-center">
            <img src="~/images/imagen3.png" id="imagen3" />
            <h6 class="mt-2 pb-2">MUCHAS OPCIONES PARA VIAJAR EN BUS</h6>
            <p>Escoge entre más de 150 empresas de bus. Viaja a más de 900 rutas por todo el Perú.</p>
        </div>
        <div class="col-3 text-center">
            <img src="~/images/imagene4.png" id="imagen4" />
            <h6 class="mt-2 pb-2">100% CONFIABLE</h6>
            <p>Contamos con medios de pago seguros que garantizan la protección de tu compra.</p>
        </div>
    </div>
</div>