<div class="container">
    <h1 class="text-center">Opciones De Pago</h1>
    <br />
    <div class="row">
        <div class="col-2 text-center">
            <img src="~/images/visa.png" width="70" id="visa" />
        </div>
        <div class="col-2 text-center">
            <img src="~/images/american-express.png" width="70" id="american" />
        </div>
        <div class="col-2 text-center">
            <img src="~/images/tarjeta-mastercard.png" width="70" id="mastercard" />
        </div>
        <div class="col-2 text-center">
            <img src="~/images/pagoefectivo-logo.png" width="126" class="mt-4" id="pagoEfectivo" />
        </div>
        <div class="col-2 text-center">
            <img src="~/images/logotipo-de-diners-club-pay (1).png" width="70" id="diners" />
        </div>
        <div class="col-2 text-center">
            <img src="~/images/paypal.png" width="70" id="paypal" />
        </div>
    </div>
</div>