@{
    ViewData["Title"] = "Pagina Principal";
}
<div class="imagenesfondo">
    <br />
    <br />
    <div class="mt-4 text-center">
        <h3>¡Llegaron los días Cyber WOW!</h3>
        <h4>redBus la manera más fácil de comprar pasajes de bus</h4>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
            <select class="form-control redondeadonorelieve">
                <option value="volvo" class="font-weight-bold">- Seleccionar -</option>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </div>
        <div class="col-2">
            <select class="form-control redondeadonorelieve">
                <option value="volvo">- Seleccionar -</option>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </div>
        <div class="col-2">
            <div class="form-group row">
                <div class="col-12">
                    <input class="form-control redondeadonorelieve" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group row">
                <div class="col-12">
                    <input class="form-control redondeadonorelieve" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                </div>
            </div>
        </div>
        <div class="col-2">
            <a class="btn colorPagina text-white font-weight-bold form-control">Buscar</a>
        </div>
        <div class="col-1"></div>
    </div>
    <br />
    <br />
    <br />
</div>
<br /><br />
<div class="container">
    <div class="row bordeSteve">
        <div class="col-1">
            <img src="~/images/busREd.png" width="150" />
        </div>
        <div class="col-11 text-center pt-3">
            <p class="font-weight-bold">PRIMER Válido solo para usuarios AHORRA HASTA 10% EN DE BUS!¡AHORRA HASTA 10% EN DE BUS!</p>
            <p>Usa el código: P solo para usuarios solo para usuarios PRIMER Válido solo para usuarios PRIMER Válido solo para usuarios</p>
        </div>
    </div>
</div>
<br /><br /><br />
<div class="container">
    <div class="row text-center">
        <div class="col-4">
            <div class="card border" style="width: 18rem;">
                <div class="text-center">
                    <img src="~/images/mochila.png" class="" alt="imagenDeMochila" width="140">
                    <div class="card-body">
                        <h5 class="card-title">¡Viaja y Ahorra!</h5>
                        <p class="card-text">
                            Válido para antiguos y nuevos usuarios
                        </p>
                        <a href="#" class="btn btn-outline-danger">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border" style="width: 18rem;">
                <div class="text-center">
                    <img src="~/images/tarjetasDescuento.png" class="" alt="..." width="170">
                    <div class="card-body">
                        <h5 class="card-title">Promos Viajeras</h5>
                        <p class="card-text">
                            Solo por tiempo limitado
                            Conócelos aquí
                        </p>
                        <a href="#" class="btn btn-outline-danger">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border" style="width: 18rem;">
                <div class="text-center">
                    <img src="~/images/iconoPersona.png" class="" alt="..." width="170">
                    <div class="card-body">
                        <h5 class="card-title">¡Invita y Gana!</h5>
                        <p class="card-text">
                            Tu amigo gana S/ 15 en su monedero
                            Comparte tu código
                        </p>
                        <a href="#" class="btn btn-outline-danger">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br />
<div class="">
    <iframe width="380" class="mt-2" height="215" src="https://www.youtube.com/embed/YnlhOvntjWk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>