@{
    ViewData["Title"] = "Pagina Principal";
}
<div class="mt-5 text-center">
    <h3>¡Llegaron los días Cyber WOW!</h3>
    <h4>redBus la manera más fácil de comprar pasajes de bus</h4>
</div>
<br />
<div class="row">
    <div class="col-1"></div>
    <div class="col-2">
        <select class="form-control redondeadonorelieve">
            <option value="volvo">- Seleccionar -</option>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
    </div>
    <div class="col-2">
        <select class="form-control redondeadonorelieve">
            <option value="volvo">- Seleccionar -</option>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
    </div>
    <div class="col-2">
        <div class="form-group row">
            <div class="col-12">
                <input class="form-control redondeadonorelieve" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group row">
            <div class="col-12">
                <input class="form-control redondeadonorelieve" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
            </div>
        </div>
    </div>
    <div class="col-2">
        <a class="btn colorPagina text-white">Buscar</a>
    </div>
    <div class="col-1"></div>
</div>
<br />
<div class="bordeSteve">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2">

            <img src="~/images/busREd.png" width="150" />
        </div>
        <div class="col-5 text-center mt-3">
            <h5>¡AHORRA HASTA 10% EN PASAJES DE BUS!</h5>
            <h6>Usa el código: PRIMER l Válido solo para nuevos usuarios</h6>

        </div>
        <div class="col-3"></div>
    </div>
</div>

