@model IEnumerable<ServiceBus.Cargo>

@{
    ViewData["Title"] = "Listado Bus";
}
<div class="container mt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <label>Codigo</label>
                </th>
                <th>
                    <label>Nombre</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cargo in Model)
            {
                <tr>
                    <td>
                        @cargo.Id
                    </td>
                    <td>
                        @cargo.Nombre
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="float-right">
        <a class="btn btn-success" asp-action="" asp-controller=""><img src="~/images/sobresalir.png" class="w-15 mr-1" />Exportar a excel</a> |
        <a class="btn btn-danger" asp-action="Index" asp-controller="PaginaPrincipal">Ir al Menu Principal</a>
    </div>
</div>