<div class="col-1">

</div>
<div class="col-1 text-right">
    <button type="button" id="asiento01" class="btn btn-secondary btn-lg mb-2">
        01
    </button>
    <button type="button" id="asiento05" class="btn btn-secondary btn-lg mb-2">
        05
    </button>
    <button type="button" id="asiento09" class="btn btn-secondary mb-2 btn-lg">
        09
    </button>
    <button type="button" id="asiento13" class="btn btn-secondary mb-2 btn-lg">
        13
    </button>
    <button type="button" id="asiento17" class="btn btn-secondary mb-2 btn-lg">
        17
    </button>
    <button type="button" id="asiento21" class="btn btn-secondary mb-2 btn-lg">
        21
    </button>
    <button type="button" id="asiento25" class="btn btn-secondary mb-2 btn-lg">
        25
    </button>
    <button type="button" id="asiento29" class="btn btn-secondary mb-2 btn-lg">
        29
    </button>
    <button type="button" id="asiento33" class="btn btn-secondary mb-2 btn-lg">
        33
    </button>
    <button type="button" id="asiento37" class="btn btn-secondary btn-lg">
        37
    </button>
</div>
<div class="col-1 text-left">
    <button type="button" class="btn btn-secondary btn-lg mb-2" id="asiento02">
        02
    </button>
    <button type="button" class="btn btn-secondary btn-lg mb-2" id="asiento06">
        06
    </button>
    <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento10">
        10
    </button>
    <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento14">
        14
    </button>
    <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento18">
        18
    </button>
    <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento22">
        22
    </button>
    <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento26">
        26
    </button>
    <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento30">
        30
    </button>
    <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento34">
        34
    </button>
    <button type="button" class="btn btn-secondary btn-lg" id="asiento38">
        38
    </button>
</div>
<div class="col-1 text-right">
    <button type="button" class="btn btn-secondary btn-lg mb-2" id="asiento03">
        03
    </button>
    <button type="button" class="btn btn-secondary btn-lg mb-2" id="asiento07">
        07
    </button>
    <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento11">
        11
    </button>
    <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento15">
        15
    </button>
    <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento19">
        19
    </button>
    <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento23">
        23
    </button>
    <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento27">
        27
    </button>
    <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento31">
        31
    </button>
    <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento35">
        35
    </button>
    <button type="button" class="btn btn-secondary btn-lg" id="asiento39">
        39
    </button>
</div>
<div class="col-1 text-left">
    <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento04">
        04
    </button>
    <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento08">
        08
    </button>
    <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento12">
        12
    </button>
    <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento16">
        16
    </button>
    <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento20">
        20
    </button>
    <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento24">
        24
    </button>
    <button type="button" class="btn btn-secondary mb-2 btn-lg" id="asiento28">
        28
    </button>
    <button type="button" class="btn btn-secondary btn-lg mb-2" id="asiento32">
        32
    </button>
    <button type="button" class="btn btn-secondary btn-lg mb-2" id="asiento36">
        36
    </button>
    <button type="button" class="btn btn-secondary btn-lg" id="asiento40">
        40
    </button>
</div>