<div class="modal fade bd-example-modal-sm" id="ModalVisa" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm bg-danger">
        <div class="modal-content bg-danger">
            <p class="mt-3 text-center">
                Visa <img src="~/images/visa.png" width="40" />
                <div class="row">
                    <div class="col-12">
                        Numero Tarjeta:
                        <input type="text" class="form-control" placeholder="Ingresar numero cuenta" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        Fecha:
                        <input type="text" class="form-control" placeholder="" />
                    </div>
                    <div class="col-6">
                        CVC:
                        <input type="text" class="form-control" placeholder="" />
                    </div>
                </div>
            </p>
        </div>
    </div>
</div>